{% extends 'ezikr/base.html' %}
{% block head %}
{% load static %}
<style media="screen">

  }
  .card{
    min-width:250px;
    border-radius: 10px 10px;
  }
  .card-header{
    height:100px;
    min-width:250px;
  }
  .card-body {
    height: 250px;
    min-width:250px;
  }
  .card-footer {
    height: 100px;
    min-width:250px;
    border-radius: 0px 0px 10px 10px;
  }

  .btn:focus {
    background-color: transparent;
  }
  #pbar{
    transition: width 3s;
    transition-timing-function: linear;
  }
  button{
    transition-duration: 0.3s;
  }





</style>
{% endblock head %}
{% block content  %}
<div id="zikra" class="container bg-dark mt-3 p-3" >
  <div  class="container card d-flex justify-content-center border-success mt-2 mb-3" style="padding: 0px; max-width:250px; border-radius: 10px 10px;" height="400px">
    <div id="PrintAble" class="card-header bg-light" style=" border-radius: 10px 10px 0 0;">
      <div class="progress" id="transbar">
        <div id="pbar" class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width:0%"></div>
      </div>
      <p id="tid" hidden>eraZikr{{task.id}}</p>
      <p id="target" hidden>{{task.target_count}}</p>
      <p id="time" hidden>{{task.time}}</p>
      <p id="task">TASK: {{ task.title }}</p>
    </div>
    <div class="card-body bg-light text-dark text-center" style="font-size:13px" >
      <p>{{ task.script }}</p>
    </div>
    <div class="card-footer bg-success text-center text-light" style="font-family:Sofia; border-radius:0 0 10px 10px;">
      <div id="progress" class="progress mb-3">
        <div id="done" class="progress-bar progress-bar-striped progress-bar-animated progress-bar-outline-light bg-success" style="width:99%">99</div>
      </div>
      <div id="tcom" class="container d-flex justify-content-between">
        <button id="back" class="btn btn-outline-light"><a class="text-dark" href="{% url 'home' %}" style="text-decoration:none; font-family:sofia">back</a></button>
        <button id="btn1" class="justify-content-center rounded-pill p-4 btn btn-success btn-outline-light" onclick="trns()"></button>
        <button id="mode" class="btn btn-outline-light text-dark" onclick="mode()">Fast</button>
      </div>
      <div id="mcom" class="container d-flex justify-content-between">
        <img id="muhar" src="{% static '/ezikr/images/Muhammad_Seal.svg.png' %}" height="60" width="60">
        <ul id="name" class="list-group  m-0 p-0">
          <li class="list-group-item m-0 p-0 ">eraZikra.com certify:</li>
          <li class="list-group-item m-0 p-0">
            <form class="m-0 p-0 bg-success">
              <input type="text" class="form-control form-control-sm mt-0" placeholder="Your NAME">
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div  class="container justify-content-center d-flex">
    <button id="printbtn" class="btn btn-success text-light print" onclick="PrintCerti()">Print Your Certificate.</button>
  </div>
</div

  <script src="{% static 'ezikr/js/js1.js' %}" charset="utf-8"></script>


{% endblock content %}
